/* line 70, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  overflow-x: none;
}

/* line 76, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
body nav {
  width: 100%;
  height: 15vh;
  background-color: #303030;
}

/* line 84, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
body nav .logo {
  margin: 20px;
}

/* line 88, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
body nav .mobileButton {
  position: absolute;
  right: 0;
  margin: 20px;
  background-color: transparent;
  border: none;
}

/* line 95, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
body nav .mobileButton .burger {
  font-size: 40px;
  background-color: transparent;
  color: #7b6c63;
}

/* line 105, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.mobileMenuCont {
  width: 100%;
  height: auto;
  margin: 10px auto;
  background-color: #303030;
  padding: 10px;
  position: relative;
}

/* line 114, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.mobileMenuCont ul {
  padding-left: 0;
}

/* line 116, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.mobileMenuCont ul li {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
}

/* line 121, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.mobileMenuCont ul li .navLink {
  color: #fff;
  text-transform: uppercase;
  display: block;
  padding: 10px;
  text-decoration: none;
}

/* line 128, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.mobileMenuCont ul li .navLink:hover {
  text-decoration: none;
  background-color: #7b6c63;
}

/* line 138, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.toggleMenu {
  display: none;
}

/* line 143, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.headerContainer {
  position: relative;
}

/* line 147, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.headerTitle {
  max-width: 100%;
  background: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  padding: 8%;
}

/* line 155, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.headerTitle h3 {
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
}

/* line 161, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.headerTitle h1 {
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  padding: 2% 0;
}

/* line 167, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.headerTitle h1 .colorWord {
  color: #7b6c63;
}

/* line 172, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.headerTitle .buttonHeader {
  width: 260px;
  height: 60px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-transform: uppercase;
  outline: none;
  background-color: #26221e;
  color: #fff;
}

/* line 180, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.aboutUs {
  padding: 0 !important;
}

/* line 184, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.line {
  content: "";
  display: block;
  width: 15vw;
  height: 3px;
  background-color: #7b6c63;
  margin: 5vh auto;
}

/* line 188, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.about {
  padding: 5%;
}

/* line 190, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.about h2 {
  text-align: center;
  text-transform: uppercase;
  color: #7b6c63;
  font-weight: 600;
}

/* line 196, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.about p {
  text-align: center;
}

/* line 201, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.best {
  background-color: #f5f5f5;
  margin: 0;
  padding: 5%;
}

/* line 206, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.best h3 {
  text-transform: uppercase;
  text-align: center;
  color: #7b6c63;
  padding-top: 2%;
  padding-bottom: 2%;
}

/* line 210, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.best p {
  padding-top: 5%;
  padding-bottom: 5%;
}

/* line 215, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.best .buttons {
  width: 260px;
  height: 60px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-transform: uppercase;
  outline: none;
  background-color: transparent;
  border: solid 2px #26221e;
  color: #26221e;
}

/* line 221, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.best .buttons:focus {
  background-color: #26221e;
  color: #fff;
}

/* line 227, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.services {
  padding: 5%;
}

/* line 229, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.services h3 {
  text-transform: uppercase;
  text-align: center;
  color: #7b6c63;
  padding-top: 2%;
  padding-bottom: 2%;
}

/* line 233, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.services p {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

/* line 243, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.service {
  text-align: center;
  margin: 20px;
}

/* line 247, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.service i {
  font-size: 30px;
  color: #7b6c63;
  padding-bottom: 5%;
}

/* line 252, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.service h4 {
  text-transform: uppercase;
  text-align: center;
  color: #7b6c63;
  padding-top: 2%;
  padding-bottom: 2%;
}

/* line 257, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.resp {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url(../img/skils_back.png);
}

/* line 266, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.resp .counter {
  width: 100px;
  min-height: 100px;
}

/* line 270, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.resp .counter .counterItem {
  width: 200px;
  height: 200px;
  border: solid 2px #7b6c63;
  border-radius: 50%;
}

/* line 276, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.resp .counter .counterItem .counterCircle {
  width: 100%;
  height: 100%;
}

/* line 284, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.skills {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding: 5%;
}

@media only screen and (max-width: 600px) {
  /* line 292, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
  .resp {
    background: none;
    background-color: #26221e;
    min-height: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  /* line 302, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
  .resp .counter {
    width: 100%;
    min-height: auto;
  }
  /* line 306, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
  .resp .counter .counterItem {
    margin: 5% auto;
  }
  /* line 308, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
  .resp .counter .counterItem svg {
    width: 196px;
    height: 196px;
  }
}

/* line 319, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.counterItem {
  margin: 5% auto;
}

/* line 321, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.counterItem svg {
  width: 196px;
  height: 196px;
}

/* line 326, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.counterItem .procent {
  position: absolute;
  top: 40%;
  left: 45%;
  color: #fff;
  font-size: 3vh;
}

/* line 336, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.circleBar {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 2s linear;
}

/* line 341, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.projects {
  padding: 5%;
}

/* line 343, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.projects h2 {
  text-align: center;
  text-transform: uppercase;
  color: #7b6c63;
}

/* line 348, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.projects p {
  text-align: center;
}

/* line 353, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.skillBackground1 {
  background: url("../img/skills1.png");
  width: 100%;
  height: auto;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

/* line 358, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.skillBackground2 {
  background: url("../img/skills2.png");
  width: 100%;
  height: auto;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

/* line 363, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.skillBackground3 {
  background: url("../img/skills3.png");
  width: 100%;
  height: auto;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

/* line 368, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.skillBackground4 {
  background: url("../img/skills4.png");
  width: 100%;
  height: auto;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

/* line 374, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.skilsContent {
  width: 100%;
  height: 200px;
  margin: 5% auto;
  background-color: rgba(26, 26, 26, 0.8);
  display: flex;
  align-items: center;
}

/* line 383, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.skilsContent .skillsText {
  position: relative;
  width: 80%;
  height: auto;
  margin: 5% auto;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

/* line 386, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.skilsContent .skillsText h5 {
  font-weight: 400;
}

/* line 390, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.skilsContent .skillsText .skilLine {
  display: block;
  width: 40px;
  height: 2px;
  background-color: #fff;
  margin: 5% auto;
}

/* line 401, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.darkBackg {
  background-color: #1a1a1a;
}

/* line 404, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.darkBackg .skillsText2 {
  position: relative;
  width: 80%;
  height: auto;
  margin: 5% auto;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

/* line 406, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.darkBackg .skillsText2 p {
  text-transform: none;
}

/* line 409, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.darkBackg .skillsText2 a {
  text-transform: none;
}

/* line 415, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.containerImg {
  padding: 0 !important;
}

/* line 419, C:/Users/ewelina/Desktop/lp/project/scss/style.scss */
.containerImg .portfolioImg img {
  width: 100%;
}

/*# sourceMappingURL=../css/style.map */